@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;

  --color-cust-Soft-orange: hsl(35, 77%, 62%);
  --color-cust-Soft-red: hsl(5, 85%, 63%);

  --color-cust-Off-white: hsl(36, 100%, 99%);
  --color-cust-Grayish-blue: hsl(233, 8%, 79%);
  --color-cust-Dark-grayish-blue: hsl(236, 13%, 42%);
  --color-cust-Very-dark-blue: hsl(240, 100%, 5%);
}

html {
  font-size: 15px;
}

/* *,
*::before,
*::after {
  border: 1px solid red;
} */
